<section class="panel" *ngIf="compra as c; else loadingOrError">
  <h2>Detalle compra #{{ c.id }}</h2>
  <p><strong>Proveedor:</strong> {{ c.proveedor.nombre }}</p>
  <p><strong>Usuario:</strong> {{ c.usuario.username }}</p>
  <p><strong>Factura:</strong> {{ c.numero_factura }}</p>
  <p><strong>Fecha:</strong> {{ c.fecha }}</p>
  <a class="btn" routerLink="/compras">Volver</a>
</section>

<ng-template #loadingOrError>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  <p *ngIf="!errorMessage">Cargando...</p>
</ng-template>
